name: deploy-book
on: [push]
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install jupyter-book
      - name: Build the book
        run: |
          jupyter-book build .
      - name: Upload PDF (Artifact)
        uses: actions/upload-artifact@v4
        with:
          name: pdf-book
          path: _build/html/
